* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 320px) {

    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #737373;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        margin-top: 10px;
    }
    
    main {
        position: relative;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    /*ESTILO LOGO Y H1*/

    .logo {
        width: 100px;
    }
    
    /*ESTILO MENU INICIO*/
    
    .menu {
        grid-area: menu;
        list-style-type: none;
        text-align: center;
        position: relative;
        justify-self: start;
        width: 80%;
    }
    
    .menu li {
        display: inline-block;
        text-align: left;
        position: relative;
        background-color: #737373;
        box-shadow: 1px 2px 3px #737373;
        border-radius: 5px;
        width: fit-content;
    }
    
    .menu li :hover {
        transition: all 0.1s;
        background-color:white;
        color: #737373;
        font-weight: bold;
    }
    
    .menu li a {
        text-decoration: none;
        display: inline-block;
        font-family: 'Quicksand';
        font-size: 0.5rem;
        padding: 5px;
        color: white;
        box-shadow: 1px 2px 3px #737373;
        border-radius: 5px;
    }
    
    .menu li ul {
        position: absolute;
        display: none;
        border-radius: 5px;
        border: #737373;
    }
    
    .menu ul li:hover ul {
        color: white;
        background-color:#737373;
        display: flex;
        flex-direction: column;
    }
    
    .submenu li a {
        background: none;
        text-decoration: none;
        display: inline-block;
        font-family: 'Quicksand';
        font-size: 0.5rem;
        padding-right: 20px;
        padding-left: 20px;
        color: white;
        border: none;
        font-weight: normal;
        width: 100%;
    }
    
    .submenu li .sub-brand:hover {
        transition: all 0.1s;
        background-color: #4FA9ED;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-estra:hover {
        transition: all 0.1s;
        background-color:#B93AD5;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-social:hover {
        transition: all 0.1s;
        background-color:#DF3B64;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-google:hover {
        transition: all 0.1s;
        background-color:#E3702F;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-whats:hover {
        transition: all 0.1s;
        background-color: #7AD45A;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-email:hover {
        transition: all 0.1s;
        background-color:#8D7DD8;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-seo:hover {
        transition: all 0.1s;
        background-color:#EEB400;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-web:hover {
        transition: all 0.1s;
        background-color:lightgrey;
        color: white;
        font-weight: bold;
    }
    
    /*ESTILO REDES SOCIALES INICIO*/
    
    .socialinicio {
        grid-area: socialinicio;
        list-style-type: none;
        position: relative;
        margin-left: 10px;
    }
    
    .socialinicio li {
        display: inline-block;
        margin-left: 5px;
    }
    
    .icon-facebook {
        color: #737373;
        font-size: 25px;
    }
    
    .icon-instagram {
        color: #737373;
        font-size: 25px;
    }
    
    .icon-linkedin {
        color: #737373;
        font-size: 25px;
    }
    
    /*IMAGEN FONDO*/
    
    .imagenfondo {
        position: fixed;
        opacity: 0.2;
        z-index: -1;
        top: 100px;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        justify-self: center;
        width: 400px;
    }
    
    /*TITULOS*/
    
    h1 {
        font-family: "Quicksand";
        font-size: 1.2rem;
        text-align: center;
        color: #737373;
        letter-spacing: 0.2rem;
        margin-left: 10px;
    }
    
    #makeItHappen {
        font-family: "Quicksand";
        font-size: 1.2rem;
        text-align: center;
        color: #737373;
        margin-bottom: 20px;
        margin-top: 70px;
        font-weight: bold;
    }
    
    h2 {
        font-family: "Quicksand";
        font-size: 1rem;
        text-align: center;
        color: #737373;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    
    h3 {
        font-family: "Montserrat";
        font-size: 0.8rem;
        text-align: center;
        color: #737373;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.5;
        margin-top: 10px;
        font-weight: bold;
        text-decoration: underline;
    }
    
    h4 {
        font-family: "Montserrat";
        font-size: 0.8rem;
        text-align: center;
        color: #737373;
        line-height: 1.5;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    
    h5 {
        color: #626262;
        font-family: 'Montserrat';
        font-size: 0.8rem;
        text-align: center;
        font-style: oblique;
        line-height: 1.6;
        font-weight: bold;
        padding-top: 5px;
    }

    .h5footer {
        font-family: "Montserrat";
        font-size: 0.8rem;
        text-align: left;
        color: #737373;
        line-height: 1.5;
        width: 80%;
    }
    
    h6 {
        font-family: "Montserrat";
        font-size: 0.5rem;
        text-align: center;
        color: white;
        margin-top: 20px;
    }
    
    p {
        font-family: "Montserrat";
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.5;
    }
    
    /*SECCIÓN MISION Y SLOGAN*/
    
    .slogan {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    /*SECCIÓN ¿QUÉ HACEMOS?*/
    
    .quehacemos {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        width: 100%;
    }

    .tituloquehacemos {
        margin: 5px;
    }
    
    .soluciones {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (8, 1fr);
        grid-template-areas: 
        "branding"
        "estrategia"
        "socialads"
        "googleads"
        "whatsappbusiness"
        "emailmarketing"
        "seo"
        "desarrolloweb";
        row-gap: 30px;
        column-gap: 30px;
        align-items: center;
        justify-items:center;
        justify-content: space-evenly;
        text-decoration: none;
        margin-top: 20PX;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .contenedor {
        background-color: white;
        border: rgba(98, 98, 98, 0.5) 1px;
        box-shadow: 2px 1px 2px 1px rgba(98, 98, 98, 0.4);
        border-radius: 5px;
        width: 150px;
        height: 150px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-decoration: none;
        padding-top: 20px;
    }
    
    .contenedor:hover {
        transform: scale(1.1, 1.1);
    }
    
    .titulosoluciones {
        list-style-type: none;
        text-decoration: none;
        font-family: 'Quicksand';
        color: #737373;
        font-weight: bold;
        font-size: 0.9rem;
    }
    
    .subtitulosoluciones {
        list-style-type: none;
        text-decoration: none;
        font-family: 'Montserrat';
        color: #737373;
        font-size: 0.7rem;
        font-weight: bold;
        padding: 5px;
    }
    
    #icon-branding {
        color: #4FA9ED;
        font-size: 20px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 0px;
        padding: 0px;
        border-radius: 100%;
    }
    
    #icon-estrategia {
        color: #B93AD5;
        font-size: 20px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 0px;
        padding: 0px;
        border-radius: 100%;
    }
    
    #icon-socialads {
        color: #DF3B64;
        font-size: 20px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 0px;
        padding: 0px;
        border-radius: 100%;
    }
    
    #icon-googleads {
        color: #E3702F;
        font-size: 20px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 0px;
        padding: 0px;
        border-radius: 100%;
    }
    
    #icon-whatsapp {
        color: #7AD45A;
        font-size: 20px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 0px;
        padding: 0px;
        border-radius: 100%;
    }
    
    #icon-email {
        color: #8D7DD8;
        font-size: 20px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 0px;
        padding: 0px;
        border-radius: 100%;
    }
    
    #icon-seo {
        color: #EEB400;
        font-size: 20px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 0px;
        padding: 0px;
        border-radius: 100%;
    }
    
    #icon-desarrollo {
        color: #737373;
        font-size: 20px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 0px;
        padding: 0px;
        border-radius: 100%;
    }
    
    /*SECCION MUNDO ONLINE*/
    
    .mundoonline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
    
    .contenedorreporte {
        margin-top: 20px;
    }

    .reporte {
        width: 300px;
        height: 200px;
    }
    
    .referencia {
        font-family: 'Montserrat';
        font-size: 0.5rem;
        text-decoration: none;
        color: #737373;
    }
    
    .referencia a:link {
        text-decoration: none;
        color: #737373;
    }
    
    .referencia a:visited {
        text-decoration: none;
        color: #737373;
    }
    
    
    /*SECCION ¿QUIÉNES SOMOS?*/
    
    .quienessomos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        width: 80%;
        align-content: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .perfil {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "perfilanhang"
        "perfilparpal";
        margin-top: 20px;
    }
    
    .perfilanhang {
        grid-area: perfilanhang;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
    }
    
    .perfilparpal {
        grid-area: perfilparpal;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
    }

    .fotoperfil {
        width: 100px;
        filter: grayscale(100%);
    }

    .fotoperfil:hover {
        filter: grayscale(0%);
    }

    .nombrefounder {
        text-decoration: none;
    }
    
    /*SECCION CONTACTANOS*/
    
    .contactanos {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        align-content: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    
    fieldset {
        padding: 20px;
        border: white;
        border-radius: 10px;
        background: radial-gradient(circle, rgba(223,59,100,0.5), rgba(227,112,47,0.5),rgba(238,180,0,0.5));
        background-color: rgba(223, 59, 100, 0.2);
        box-shadow: 3px 3px 10px rgba(115, 115, 115, 0.5);
        color: white;
        font-weight: bold;
        margin-right: auto;
        margin-left: auto;
        height: 800px;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        font-family: "Montserrat";
        font-size: 0.8rem;
        font-weight: bold;
        position: relative;
    }

    .formulario {
        margin-top: 10px;
    }
    
    .columna1 {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .columna2 {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-items: start;
    }
    
    .columna3 {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-items: start;
    }
    
    .comentario {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .textarea {
        width: 200px;
        height: 100px;
        border: none;
        margin-top: 10px;
    }
    
    .terminoscondiciones {
        margin-top: 20px;
    }
    
    .botonenviar {
        margin-top: 20px;
        justify-self: end;
        align-self: flex-end;
    }
    
    #botonenviar {
        border: none;
        font-family: "Montserrat";
        font-size: 0.85rem;
        width: 80px;
        height: 30px;
        background-color:#DF3B64;
        color: white;
        font-weight: bold;
    }
    
    #botonenviar:hover {
        transform: scale(1.2, 1.2);
    }
    
    .servicios {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }
    
    .titulopropuesta {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .prop {
        margin-bottom: 5px;
    }
    
    .caja {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .text {
        justify-self: start;
        margin-top: 5px;
    }
    
    .inputtext {
        width: 200px;
        height: 20px;
        border: none;
        margin-top: 10px;
    }
    
    /*BOTON WHATSAPP FIJO*/
    
    .botonwhatsapp {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 100;
    }
    
    #whatsappfooter {
        color: #7AD45A;
        font-size: 10px;
    }
    
    .scale:hover {
        transform: scale(1.1, 1.1);
    }
    
    /*BOTON WHATSAPP FIJO*/
    
    .botonwhatsapp {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 100;
    }
    
    #whatsappfooter {
        color: #7AD45A;
        font-size: 40px;
        text-align: center;
    }
    
    #whatsappfooter:hover {
        font-size: 60px;
        text-align: center;
    }
    
    /*BLOG*/
    
    .noticias {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "art1"
        "art2"
        "art3"
        "art4";
        justify-items: center;
        row-gap: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .imgart {
        width: 200px;
    }
    
    .art1 {
        grid-area: art1;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        position: relative;
    }
    
    .art2 {
        grid-area: art2;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        position: relative;
    }
    
    .art3 {
        grid-area: art3;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        position: relative;
    }
    
    .art4 {
        grid-area: art4;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        position: relative;
    }
    
    /*¿QUE HACEMOS?*/
    
    .sol {
        width: 90%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 30px;
    }
    
    .sol-brand {
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding-bottom: 10px;
    }
    
    .sol-estra {
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding-bottom: 10px;
    }
    
    .sol-social {
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding-bottom: 10px;
    }
    
    .sol-google {
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding-bottom: 10px;
    }
    
    .sol-whats {
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding-bottom: 10px;
    }
    
    .sol-email {
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding-bottom: 10px;
    }
    
    .sol-seo {
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding-bottom: 10px;
    }
    
    .sol-web {
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding-bottom: 10px;
    }
    
    .titulo-sol {
        font-weight: bolder;
        font-style: normal;
        font-size: 1rem;
        width: 100%;
    }
    
    .subtitulo-sol {
        font-weight: bolder;
        font-style: normal;
        font-size: 0.9rem;
        text-align: start;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .definicion-sol {
        font-weight: bold;
        font-style: normal;
        font-size: 0.8rem;
        text-align: start;
        line-height: 1.5;
        width: 100%;
    }
    
    .titulo-rol {
        font-weight: bolder;
        font-style: normal;
        font-size: 1rem;
        text-align: start;
        margin-bottom: 20px;
        margin-top: 30px;
        margin-left: 0px;
    }
    
    .lista-rol {
        list-style-type:circle;
        text-align: start;
        position: relative;
        font-family: "Montserrat";
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.5;
    }
    
    .texto-sol {
        margin-right: 40px;
        margin-left: 40px;
    }

    .bi {
        font-size: 2rem;
        color: #737373;
        padding: 10px;
    }

    .bi:hover {
        transform: scale(1,1 1,1);
    }
    
}

@media screen and (min-width: 1024px) {

    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #737373;
        background-color: white;
    }

    header {
        margin-top: 40px;
    }
    
    main {
        position: relative;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    
    /*ESTILO LOGO Y H1*/
    
    .logo {
        width: 150px;
    }
    
    /*ESTILO MENU INICIO*/

    .menu {
        grid-area: menu;
        list-style-type: none;
        text-align: center;
        position: relative;
        justify-self: center;
        align-self:flex-end;
    }
    
    .menu li {
        display: inline-block;
        text-align: center;
        margin: 5px;
        position: relative;
        background-color: #737373;
        box-shadow: 1px 2px 3px #737373;
        border-radius: 5px;
    }
    
    .menu li :hover {
        transition: all 0.1s;
        background-color:white;
        color: #737373;
        font-weight: bold;
    }
    
    .menu li a {
        text-decoration: none;
        display: inline-block;
        font-family: 'Quicksand';
        font-size: 0.8rem;
        padding: 6px;
        color: white;
        box-shadow: 1px 2px 3px #737373;
        border-radius: 5px;
    }
    
    .menu li ul {
        position: absolute;
        display: none;
        border-radius: 5px;
        border: #737373;
    }
    
    .menu ul li:hover ul {
        color: white;
        background-color:#737373;
        display: flex;
        flex-direction: column;
    }
    
    .submenu li a {
        background: none;
        text-decoration: none;
        display: inline-block;
        font-family: 'Quicksand';
        font-size: 1rem;
        padding-right: 20px;
        padding-left: 20px;
        color: white;
        border: none;
        font-weight: normal;
        width: 100%;
    }
    
    .submenu li .sub-brand:hover {
        transition: all 0.1s;
        background-color: #4FA9ED;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-estra:hover {
        transition: all 0.1s;
        background-color:#B93AD5;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-social:hover {
        transition: all 0.1s;
        background-color:#DF3B64;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-google:hover {
        transition: all 0.1s;
        background-color:#E3702F;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-whats:hover {
        transition: all 0.1s;
        background-color: #7AD45A;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-email:hover {
        transition: all 0.1s;
        background-color:#8D7DD8;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-seo:hover {
        transition: all 0.1s;
        background-color:#EEB400;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-web:hover {
        transition: all 0.1s;
        background-color:lightgrey;
        color: white;
        font-weight: bold;
    }
    
    /*ESTILO REDES SOCIALES INICIO*/
    
    .socialinicio {
        grid-area: socialinicio;
        list-style-type: none;
        text-align: right;
        top: 20px;
        right: 60px;
        position: relative;
    }
    
    .socialinicio li {
        display: inline-block;
        margin: 10px;
    }
    
    .icon-facebook {
        color: #737373;
        font-size: 35px;
    }
    
    .icon-instagram {
        color: #737373;
        font-size: 35px;
    }
    
    .icon-linkedin {
        color: #737373;
        font-size: 35px;
    }
    
    /*IMAGEN FONDO*/
    
    .imagenfondo {
        position: fixed;
        opacity: 0.2;
        z-index: -1;
        top: 40px;
        align-self: center;
        width: 600px;
    }
    
    /*TITULOS*/
    
    h1 {
        font-family: "Quicksand";
        font-size: 1.5rem;
        text-align: center;
        color: #737373;
        letter-spacing: 0.2rem;
    }
    
    #makeItHappen {
        font-family: "Quicksand";
        font-size: 1.5rem;
        text-align: center;
        color: #737373;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: bold;
    }
    
    h2 {
        font-family: "Quicksand";
        font-size: 1.2rem;
        text-align: center;
        color: #737373;
    }
    
    h3 {
        font-family: "Montserrat";
        font-size: 1rem;
        text-align: center;
        color: #737373;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    h4 {
        font-family: "Montserrat";
        font-size: 0.8rem;
        text-align: center;
        color: #737373;
        line-height: 1.5;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    h5 {
        color: #626262;
        font-family: 'Montserrat';
        font-size: 0.8rem;
        text-align: center;
        font-style: oblique;
        line-height: 1.6;
        font-weight: bold;
        padding-top: 5px;
    }

    .h5footer {
        font-family: "Montserrat";
        font-size: 0.8rem;
        text-align: left;
        color: #737373;
        line-height: 1.5;
        width: 80%;
    }
    
    h6 {
        font-family: "Montserrat";
        font-size: 0.5rem;
        text-align: center;
        color: white;
        margin-top: 10px;
    }
    
    p {
        font-family: "Montserrat";
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.5;
    }
    
    /*SECCIÓN MISION Y SLOGAN*/
    
    .slogan {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        gap: 20px;
        margin-top: 60px;
    }
    
    /*SECCIÓN ¿QUÉ HACEMOS?*/
    
    .quehacemos {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }

    .tituloquehacemos {
        margin: 10px;
    }
    
    .soluciones {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "branding estrategia socialads googleads"
        "whatsappbusiness emailmarketing seo desarrolloweb";
        row-gap: 30px;
        column-gap: 30px;
        align-items: center;
        justify-items:center;
        justify-content: space-evenly;
        text-decoration: none;
        margin-top: 20PX;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .contenedor {
        background-color: white;
        border: rgba(98, 98, 98, 0.5) 1px;
        box-shadow: 2px 1px 2px 1px rgba(98, 98, 98, 0.4);
        border-radius: 5px;
        width: 200px;
        height: 200px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-decoration: none;
        padding-top: 20px;
    }
    
    .contenedor:hover {
        transform: scale(1.1, 1.1);
    }
    
    .titulosoluciones {
        list-style-type: none;
        text-decoration: none;
        font-family: 'Quicksand';
        color: #737373;
        font-weight: bold;
        font-size: 1.rem;
    }
    
    .subtitulosoluciones {
        list-style-type: none;
        text-decoration: none;
        font-family: 'Montserrat';
        color: #737373;
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    #icon-branding {
        color: #4FA9ED;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-estrategia {
        color: #B93AD5;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-socialads {
        color: #DF3B64;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-googleads {
        color: #E3702F;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-whatsapp {
        color: #7AD45A;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-email {
        color: #8D7DD8;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-seo {
        color: #EEB400;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-desarrollo {
        color: #737373;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    /*SECCION MUNDO ONLINE*/
    
    .mundoonline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
    
    .contenedorreporte {
        margin-top: 20px;
    }
    
    .referencia {
        font-family: 'Montserrat';
        font-size: 1rem;
        text-decoration: none;
        color: #737373;
    }

    .reporte {
        width: 500px;
    }
    
    .referencia a:link {
        text-decoration: none;
        color: #737373;
    }
    
    .referencia a:visited {
        text-decoration: none;
        color: #737373;
    }
    
    
    /*SECCION ¿QUIÉNES SOMOS?*/
    
    .quienessomos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        width: 80%;
        align-content: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .perfil {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "perfilanhang perfilparpal";
        margin-top: 20px;
    }
    
    .perfilanhang {
        grid-area: perfilanhang;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
    }
    
    .perfilparpal {
        grid-area: perfilparpal;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
    }

    .fotoperfil {
        width: 200px;
    }
    
    /*SECCION CONTACTANOS*/
    
    .contactanos {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        align-content: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    fieldset {
        padding: 20px;
        border: white;
        border-radius: 10px;
        background: radial-gradient(circle, rgba(223,59,100,0.5), rgba(227,112,47,0.5),rgba(238,180,0,0.5));
        background-color: rgba(223, 59, 100, 0.2);
        box-shadow: 3px 3px 10px rgba(115, 115, 115, 0.5);
        color: white;
        font-weight: bold;
        margin-right: auto;
        margin-left: auto;
        height: 350px;
        width: 70vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        font-family: "Montserrat";
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    .formulario {
        margin-top: 20px;
    }
    
    .columna1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    
    .columna2 {
        display: flex;
        flex-direction: column;
        align-items:end;
        justify-items: end;
    }
    
    .columna3 {
        display: flex;
        flex-direction: column;
        align-items:end;
        justify-items: end;
    }
    
    .comentario {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .textarea {
        width: 200px;
        height: 100px;
        border: none;
        margin-top: 10px;
    }
    
    .terminoscondiciones {
        margin-top: 20px;
    }
    
    .botonenviar {
        margin-top: 100px;
        justify-self: end;
        align-self: flex-end;
    }
    
    #botonenviar {
        border: none;
        font-family: "Montserrat";
        font-size: 0.85rem;
        width: 80px;
        height: 30px;
        background-color:#DF3B64;
        color: white;
        font-weight: bold;
    }
    
    #botonenviar:hover {
        transform: scale(1.2, 1.2);
    }
    
    .servicios {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }
    
    .titulopropuesta {
        margin-bottom: 10px;
    }
    
    .prop {
        margin-bottom: 5px;
    }
    
    .caja {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .text {
        justify-self: start;
    }
    
    .inputtext {
        width: 200px;
        height: 20px;
        border: none;
        margin-top: 10px;
    }
    
    /*BOTON WHATSAPP FIJO*/
    
    .botonwhatsapp {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 100;
    }
    
    #whatsappfooter {
        color: #7AD45A;
        font-size: 60px;
    }
    
    .scale:hover {
        transform: scale(1.1, 1.1);
    }
    
    /*BOTON WHATSAPP FIJO*/
    
    .botonwhatsapp {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 100;
    }
    
    #whatsappfooter {
        color: #7AD45A;
        font-size: 60px;
        text-align: center;
    }
    
    #whatsappfooter:hover {
        font-size: 70px;
        text-align: center;
    }
    
    /*BLOG*/
    
    .noticias {
        width: 70%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "art1 art2"
        "art3 art4";
        justify-items: center;
        row-gap: 50px;
        margin-bottom: 30px;
    }
    
    .art1 {
        grid-area: art1;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
    }
    
    .art2 {
        grid-area: art2;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
    
    }
    
    .art3 {
        grid-area: art3;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
    
    }
    
    .art4 {
        grid-area: art4;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
    
    }
    
    /*¿QUE HACEMOS?*/
    
    .sol {
        width: 80%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 30px;
    }
    
    .sol-brand {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
    
    .sol-estra {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
    
    .sol-social {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
    
    .sol-google {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
    
    .sol-whats {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
    
    .sol-email {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
    
    .sol-seo {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
    
    .sol-web {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
    
    .titulo-sol {
        font-weight: bolder;
        font-style: normal;
        font-size: 1.2rem;
    }
    
    .subtitulo-sol {
        font-weight: bolder;
        font-style: normal;
        font-size: 1rem;
        text-align: start;
        margin-bottom: 20px;
    }
    
    .definicion-sol {
        font-weight: bold;
        font-style: normal;
        font-size: 0.8rem;
        text-align: start;
        line-height: 1.5;
    }
    
    .titulo-rol {
        font-weight: bolder;
        font-style: normal;
        font-size: 1rem;
        text-align: start;
        margin-bottom: 20px;
        margin-top: 30px;
        margin-left: 0px;
    }
    
    .lista-rol {
        list-style-type:circle;
        text-align: start;
        position: relative;
        font-family: "Montserrat";
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.5;
    }
    
    .texto-sol {
        margin-right: 40px;
        margin-left: 40px;
    }

    .bi {
        font-size: 2rem;
        color: #737373;
        padding: 10px;
    }

    .bi:hover {
        transform: scale(1,1 1,1);
    }
    
}

@media screen and (min-width: 1280px) {

    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: #737373;
        background-color: white;
    }

    header {
        margin-top: 50px;
    }
    
    main {
        position: relative;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    
/*ESTILO LOGO Y H1*/

.logo {
    width: 200px;
}
    
/*ESTILO MENU INICIO*/
        
    .menu {
        grid-area: menu;
        list-style-type: none;
        text-align: center;
        position: relative;
        justify-self: center;
        align-self:flex-end;
    }
    
    .menu li {
        display: inline-block;
        text-align: center;
        margin: 5px;
        position: relative;
        background-color: #737373;
        box-shadow: 1px 2px 3px #737373;
        border-radius: 5px;
    }
    
    .menu li :hover {
        transition: all 0.1s;
        background-color:white;
        color: #737373;
        font-weight: bold;
    }
    
    .menu li a {
        text-decoration: none;
        display: inline-block;
        font-family: 'Quicksand';
        font-size: 1rem;
        padding: 6px;
        color: white;
        box-shadow: 1px 2px 3px #737373;
        border-radius: 5px;
    }
    
    .menu li ul {
        position: absolute;
        display: none;
        border-radius: 5px;
        border: #737373;
    }
    
    .menu ul li:hover ul {
        color: white;
        background-color:#737373;
        display: flex;
        flex-direction: column;
    }
    
    .submenu li a {
        background: none;
        text-decoration: none;
        display: inline-block;
        font-family: 'Quicksand';
        font-size: 1rem;
        padding-right: 20px;
        padding-left: 20px;
        color: white;
        border: none;
        font-weight: normal;
        width: 100%;
    }
    
    .submenu li .sub-brand:hover {
        transition: all 0.1s;
        background-color: #4FA9ED;
        color: white;
        font-weight: bold;
        }
    
    .submenu li .sub-estra:hover {
        transition: all 0.1s;
        background-color:#B93AD5;
        color: white;
        font-weight: bold;
    }

    .submenu li .sub-social:hover {
        transition: all 0.1s;
        background-color:#DF3B64;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-google:hover {
        transition: all 0.1s;
        background-color:#E3702F;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-whats:hover {
        transition: all 0.1s;
        background-color: #7AD45A;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-email:hover {
        transition: all 0.1s;
        background-color:#8D7DD8;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-seo:hover {
        transition: all 0.1s;
        background-color:#EEB400;
        color: white;
        font-weight: bold;
    }
    
    .submenu li .sub-web:hover {
        transition: all 0.1s;
        background-color:lightgrey;
        color: white;
        font-weight: bold;
    }
    
/*ESTILO REDES SOCIALES INICIO*/
    
    .socialinicio {
        grid-area: socialinicio;
        list-style-type: none;
        text-align: right;
        top: 20px;
        right: 60px;
        position: relative;
    }
    
    .socialinicio li {
        display: inline-block;
        margin: 10px;
    }

    .icon-facebook {
        color: #737373;
        font-size: 35px;
    }
    
    .icon-instagram {
        color: #737373;
        font-size: 35px;
    }
    
    .icon-linkedin {
        color: #737373;
        font-size: 35px;
    }
    
/*IMAGEN FONDO*/
    
    .imagenfondo {
        position: fixed;
        opacity: 0.2;
        z-index: -1;
        align-self: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }
    
/*TITULOS*/
    
    h1 {
        font-family: "Quicksand";
        font-size: 1.8rem;
        text-align: center;
        color: #737373;
        letter-spacing: 0.2rem;
        justify-self: start;
    }
    
    #makeItHappen {
        font-family: "Quicksand";
        font-size: 2rem;
        text-align: center;
        color: #737373;
        margin-bottom: 20px;
        font-weight: bold;
    }
    
    h2 {
        font-family: "Quicksand";
        font-size: 1.5rem;
        text-align: center;
        color: #737373;
        margin-bottom: 0px;
    }
    
    h3 {
        font-family: "Montserrat";
        font-size: 1.3rem;
        text-align: center;
        color: #737373;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    h4 {
        font-family: "Montserrat";
        font-size: 1.1rem;
        text-align: center;
        color: #737373;
        line-height: 1.5;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    h5 {
        color: #626262;
        font-family: 'Montserrat';
        font-size: 1rem;
        text-align: center;
        font-style: oblique;
        line-height: 1.6;
        font-weight: bold;
        padding-top: 5px;
    }

    .h5footer {
        font-family: "Montserrat";
        font-size: 1rem;
        text-align: left;
        color: #737373;
        line-height: 1.5;
    }
    
    h6 {
        font-family: "Montserrat";
        font-size: 0.8rem;
        text-align: center;
        color: white;
        margin-top: 10px;
    }
    
    p {
        font-family: "Montserrat";
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.5;
    }
    
/*SECCIÓN MISION Y SLOGAN*/
    
    .slogan {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        gap: 20px;
        margin-top: 80px;
        }
    
/*SECCIÓN ¿QUÉ HACEMOS?*/
    
    .quehacemos {
        display: flex;
        flex-direction: column;
        margin-top: 150px;
    }

    .tituloquehacemos {
        margin: 15px;
    }
    
    .soluciones {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "branding estrategia socialads googleads"
        "whatsappbusiness emailmarketing seo desarrolloweb";
        row-gap: 30px;
        column-gap: 30px;
        align-items: center;
        justify-items:center;
        justify-content: space-evenly;
        text-decoration: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    .contenedor {
        background-color: white;
        border: rgba(98, 98, 98, 0.5) 1px;
        box-shadow: 2px 1px 2px 1px rgba(98, 98, 98, 0.4);
        border-radius: 5px;
        width: 250px;
        height: 200px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-decoration: none;
        padding-top: 20px;
    }
    
    .contenedor:hover {
        transform: scale(1.1, 1.1);
    }
    
    .titulosoluciones {
        list-style-type: none;
        text-decoration: none;
        font-family: 'Quicksand';
        color: #737373;
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    .subtitulosoluciones {
        list-style-type: none;
        text-decoration: none;
        font-family: 'Montserrat';
        color: #737373;
        font-size: 1rem;
        font-weight: bold;
    }
    
    #icon-branding {
        color: #4FA9ED;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-estrategia {
        color: #B93AD5;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-socialads {
        color: #DF3B64;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-googleads {
        color: #E3702F;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-whatsapp {
        color: #7AD45A;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-email {
        color: #8D7DD8;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-seo {
        color: #EEB400;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    #icon-desarrollo {
        color: #737373;
        font-size: 30px;
        background-color: rgba(115, 115, 115, 0.2);
        margin-top: 20px;
        padding: 10px;
        border-radius: 100%;
    }
    
    /*SECCION MUNDO ONLINE*/
    
    .mundoonline {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
    
    .contenedorreporte {
        margin-top: 20px;
    }
    
    .referencia {
        font-family: 'Montserrat';
        font-size: 1rem;
        text-decoration: none;
        color: #737373;
    }

    .reporte {
        width: 400px;
        height: 300px;
    }
    
    .referencia a:link {
        text-decoration: none;
        color: #737373;
    }
    
    .referencia a:visited {
        text-decoration: none;
        color: #737373;
    }
    
    /*SECCION ¿QUIÉNES SOMOS?*/
    
    .quienessomos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        width: 80%;
        align-content: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .perfil {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "perfilanhang perfilparpal";
        margin-top: 20px;
    }
    
    .perfilanhang {
        grid-area: perfilanhang;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
    }
    
    .perfilparpal {
        grid-area: perfilparpal;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
    }

    .fotoperfil {
        width: 250px;
    }
    
/*SECCION CONTACTANOS*/
    
    .contactanos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        width: 80%;
        align-content: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    fieldset {
        padding: 20px;
        border: white;
        border-radius: 10px;
        background: radial-gradient(circle, rgba(223,59,100,0.5), rgba(227,112,47,0.5),rgba(238,180,0,0.5));
        background-color: rgba(223, 59, 100, 0.2);
        box-shadow: 3px 3px 10px rgba(115, 115, 115, 0.5);
        color: white;
        font-weight: bold;
        margin-right: auto;
        margin-left: auto;
        height: 350px;
        width: 70vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        font-family: "Montserrat";
        font-size: 0.8rem;
        font-weight: bold;
    }
    
    .formulario {
        margin-top: 20px;
    }
        
    .columna1 {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
    }
    
    .columna2 {
        display: flex;
        flex-direction: column;
        align-items:end;
        justify-items: end;
    }
    
    .columna3 {
        display: flex;
        flex-direction: column;
        align-items:end;
        justify-items: end;
    }
    
    .comentario {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .textarea {
        width: 200px;
        height: 100px;
        border: none;
        margin-top: 10px;
    }
    
    .terminoscondiciones {
        margin-top: 20px;
    }
    
    .botonenviar {
        margin-top: 100px;
        justify-self: end;
        align-self: flex-end;
    }
    
    #botonenviar {
        border: none;
        font-family: "Montserrat";
        font-size: 0.85rem;
        width: 80px;
        height: 30px;
        background-color:#DF3B64;
        color: white;
        font-weight: bold;
    }
    
    #botonenviar:hover {
        transform: scale(1.2, 1.2);
    }
    
    .servicios {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: start;
    }
    
    .titulopropuesta {
        margin-bottom: 10px;
    }
    
    .prop {
        margin-bottom: 5px;
    }
    
    .caja {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
     
    .text {
        justify-self: start;
    }
    
    .inputtext {
        width: 200px;
        height: 20px;
        border: none;
        margin-top: 10px;
    }
    
/*BOTON WHATSAPP FIJO*/
    
    .botonwhatsapp {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 100;
    }
        
    #whatsappfooter {
        color: #7AD45A;
        font-size: 60px;
    }
    
    .scale:hover {
        transform: scale(1.1, 1.1);
    }
        
/*BOTON WHATSAPP FIJO*/
        
    .botonwhatsapp {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 100;
    }
        
    #whatsappfooter {
        color: #7AD45A;
        font-size: 60px;
        text-align: center;
    }
        
    /*BLOG*/
        
    .noticias {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "art1 art2"
        "art3 art4";
        justify-items: center;
        row-gap: 50px;
        margin-bottom: 40px;
    }

    .imgart {
        width: 300px;
    }
        
    .art1 {
        grid-area: art1;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        height: fit-content;
    }
        
    .art2 {
        grid-area: art2;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        height: fit-content;
        
    }
        
    .art3 {
        grid-area: art3;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        height: fit-content;
        
    }
        
    .art4 {
        grid-area: art4;
        border: none;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        height: fit-content;
    }
        
/*¿QUE HACEMOS?*/
        
    .sol {
        width: 80%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 30px;
    }
        
    .sol-brand {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
        
    .sol-estra {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
        
    .sol-social {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
        
    .sol-google {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
        
    .sol-whats {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
        
    .sol-email {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
        
    .sol-seo {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
        
    .sol-web {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 30px;
        box-shadow: #737373 3px 3px 10px;
        background-color: white;
        padding: 20px;
    }
        
    .titulo-sol {
        font-weight: bolder;
        font-style: normal;
        font-size: 1.2rem;
    }
        
    .subtitulo-sol {
        font-weight: bolder;
        font-style: normal;
        font-size: 1rem;
        text-align: start;
        margin-bottom: 20px;
    }
        
    .definicion-sol {
        font-weight: bold;
        font-style: normal;
        font-size: 0.8rem;
        text-align: start;
        line-height: 1.5;
    }
        
    .titulo-rol {
        font-weight: bolder;
        font-style: normal;
        font-size: 1rem;
        text-align: start;
        margin-bottom: 20px;
        margin-top: 30px;
        margin-left: 0px;
    }
        
    .lista-rol {
        list-style-type:circle;
        text-align: start;
        position: relative;
        font-family: "Montserrat";
        font-size: 0.8rem;
        font-weight: bold;
        line-height: 1.5;
    }
        
    .texto-sol {
        margin-right: 40px;
        margin-left: 40px;
    }

    .bi {
        font-size: 2rem;
        color: #737373;
        padding: 10px;
    }

    .bi:hover {
        transform: scale(1,1 1,1);
    }

        
}