/*PÁGINA INDEX*/

@media screen and (min-width: 320px) {
    header {
        .carousel {
            display: none;
        }
}
}

@media screen and (min-width: 1024px) {
header {
    .carousel {
        display: block;
    }
    .carousel-caption {
        margin-bottom: 30vh;
    }
    .modification {
        margin-bottom: 25vh;
    }
}
}

/*PÁGINA NUESTRAS PROPUESTAS*/

.titulo_propuestas {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*PÁGINA NUESTRO EQUIPO*/

header {
    h1 {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-weight: lighter;
        margin-top: 20px;
    }
}

/*PÁGINA BLOG*/

header {
    h4 {
        font-weight: lighter;
    }
}

/*PÁGINA GRACIAS*/

header {
    .gracias {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 30px;
        background-color: #E3702F;
        h1 {
            color: white;
        }
        p {
            color: white;
        }
    }
}

